USE [master]
GO
/****** Object:  Database [SOFT_ATTENDACE]    Script Date: 27/05/2021 17:41:33 ******/
CREATE DATABASE [SOFT_ATTENDACE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SOFT_ATTENDACE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOFT_ATTENDACE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SOFT_ATTENDACE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SOFT_ATTENDACE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SOFT_ATTENDACE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SOFT_ATTENDACE]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](max) NULL,
	[SueldoPorHora] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Cargo] PRIMARY KEY CLUSTERED 
(
	[Id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personal](
	[Id_personal] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](max) NULL,
	[Identificacion] [varchar](max) NULL,
	[Pais] [varchar](max) NULL,
	[Id_cargo] [int] NULL,
	[SueldoPorHora] [numeric](18, 2) NULL,
	[Estado] [varchar](max) NULL,
	[codigo] [varchar](max) NULL,
 CONSTRAINT [PK_Personal] PRIMARY KEY CLUSTERED 
(
	[Id_personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Personal]  WITH CHECK ADD  CONSTRAINT [FK_Personal_Cargo] FOREIGN KEY([Id_cargo])
REFERENCES [dbo].[Cargo] ([Id_cargo])
GO
ALTER TABLE [dbo].[Personal] CHECK CONSTRAINT [FK_Personal_Cargo]
GO
/****** Object:  StoredProcedure [dbo].[buscarCargos]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[buscarCargos]
@buscador varchar(50)
as
select Id_cargo, Cargo, SueldoPorHora as Sueldo from Cargo
where Cargo like '%' + @buscador + '%'
GO
/****** Object:  StoredProcedure [dbo].[BuscarPersonal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[BuscarPersonal]
@Desde int,
@Hasta int,
@Buscador varchar(50)
as
Set Nocount On;
Select
Id_personal, Nombres, Identificacion, SueldoPorHora, Cargo, Id_cargo, Estado, codigo, Pais
from
(Select Id_personal, Nombres, Identificacion, Personal.SueldoPorHora, Cargo.Cargo, Personal.Id_cargo, Estado, codigo, Pais,
Row_Number() Over(Order by Id_personal) 'Numero_de_fila'
from Personal
inner join Cargo on Cargo.Id_cargo=Personal.Id_cargo) as Paginado
where (Paginado.Numero_de_fila >= @Desde) and (Paginado.Numero_de_fila <= @Hasta)
and (Nombres + Identificacion Like '%' + @Buscador + '%')
GO
/****** Object:  StoredProcedure [dbo].[editar_Cargo]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[editar_Cargo]
@id int,
@Cargo varchar(max),
@Sueldo as numeric(18, 2)
as
if EXISTS (SELECT Cargo FROM Cargo where Cargo = @Cargo and id_cargo<>@id)
RAISERROR ('YA EXTISTE UN CARGO CON ESTE NOMBRE, Ingrese de nuevo', 16, 1)
else
update Cargo set Cargo=@Cargo, SueldoPorHora=@Sueldo
where Id_cargo=@id
GO
/****** Object:  StoredProcedure [dbo].[editarPersonal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[editarPersonal]
@Id_personal int,
@Nombres as varchar(max),
@Identificacion varchar(max),
@Pais varchar(max),
@Id_cargo int,
@Sueldo_por_hora numeric(18,2)
as
if Exists(select Identificacion from Personal where Identificacion=@Identificacion and Id_personal <> @Id_personal)
Raiserror('Ya existe un registro con esta identificacion', 16, 1)
else
Update Personal set
Nombres=@Nombres , Identificacion=@Identificacion, Pais=@Pais, Id_cargo=@Id_cargo, SueldoPorHora=@Sueldo_por_hora
where Id_personal=@Id_personal
GO
/****** Object:  StoredProcedure [dbo].[eliminarPersonal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[eliminarPersonal]
@Idpersonal int
as
Update Personal set Estado = 'ELIMINADO'
where Id_personal = @Idpersonal
GO
/****** Object:  StoredProcedure [dbo].[insertar_cargo]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[insertar_cargo]
@Cargo varchar(max),
@SueldoPorHora numeric(18,2)
as
if EXISTS (SELECT Cargo FROM Cargo where Cargo = @Cargo)
RAISERROR ('YA EXISTE UN CARGO CON ESTE NOMBRE, Ingrese de nuevo', 16, 1)
else
insert into Cargo values (@Cargo, @SueldoPorHora)
GO
/****** Object:  StoredProcedure [dbo].[InsertarPersonal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarPersonal]
@Nombres varchar(max),
@Identificacion varchar(max),
@Pais varchar(max),
@Id_cargo int,
@SueldoPorHora numeric(18,2)
as
declare @Estado varchar(max)
declare @codigo varchar(max)
declare @Id_personal int
set @Estado = 'ACTIVO'
set @codigo = '-'
if Exists(select Identificacion from Personal where Identificacion=@Identificacion)
Raiserror('Ya existe un registro con esta Identificacion', 16, 1)
else
Insert into Personal
values(@Nombres,
@Identificacion,
@Pais,
@Id_cargo,
@SueldoPorHora,
@Estado,
@codigo)
Select @Id_personal=SCOPE_IDENTITY()
Update Personal set codigo = @Id_personal where Id_personal = @Id_personal
GO
/****** Object:  StoredProcedure [dbo].[mostrarPersonal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[mostrarPersonal]
@Desde int,
@Hasta int
as
Set Nocount On;
Select
Id_personal, Nombres, Identificacion, SueldoPorHora, Cargo, Id_cargo, Estado, codigo, Pais
from
(Select Id_personal, Nombres, Identificacion, Personal.SueldoPorHora, Cargo.Cargo, Personal.Id_cargo, Estado, codigo, Pais,
Row_Number() Over(Order by Id_personal) 'Numero_de_fila'
from Personal
inner join Cargo on Cargo.Id_cargo=Personal.Id_cargo) as Paginado
where (Paginado.Numero_de_fila >= @Desde) and (Paginado.Numero_de_fila <= @Hasta)
GO
/****** Object:  StoredProcedure [dbo].[restaurar_personal]    Script Date: 27/05/2021 17:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[restaurar_personal]
@Idpersonal int
as
update Personal set Estado = 'ACTIVO'
where Id_personal = @Idpersonal
GO
USE [master]
GO
